body {
    display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: 'Gaegu', 'Courier New', Courier, monospace;
}

.calendar {
  width: 300px;
  height: 300px;
  /* use image as background */
  background-image: url("https://i.pinimg.com/736x/5d/74/a6/5d74a63b41c082f34d20324f142281db.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* use color as background */
  /* opacity: 0.5; */
  /* background: #e8d6de; */

  border-radius: 28px;
  padding: 10px;
  box-shadow: inset 0 0 0 4px #7F888D;
}

.header {
  display: static;
  justify-content: space-between;
  align-items: center;
}

.year {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 5px;
  opacity: 0.7;
  margin-top: 4px;
  text-align: center;
  color: #E8EDF0;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.header button {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: #E8EDF0;
  /* font-weight: 800; */
}

#month  {
  /* font-family: 'Gaegu', 'Courier New', Courier, monospace; */
  font-size: 20px;
  margin: 0;
  text-align: center;
  letter-spacing: 3px;
  color: #E8EDF0;
}

.month-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month-row h2 {
  font-size: 16px;
  margin: 0;
}

.month-row button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.days, .dates {
  /* font-family: 'Gaegu', 'Courier New', Courier, monospace; */
  font-size: 11px;
  font-weight: 300;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  color: #E8EDF0;
}

.days {
  font-weight: 500;
  margin-top: 5px;
  font-size: 10px;
}

.dates div {
  padding: 3px;
  margin: 1px;
  /* border-radius: 5px; */
}

.dates div.today {
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #8CA9BD;
  color: #ffffff;
  font-weight: 1000;
}
/* 
.today-btn {
  border-radius: 999px;
  border: 1px solid #aaa;
  background: #f3e7ea;
  cursor: pointer;
  float: right;
}

.today-btn:hover {
  background: #eadbe0;
} */
